:root{
  --color-primary-blue: #002E52;
  --color-primary-red: #EF233C ;
  --color-secondary-orange: #ED5623;
  --color-secondary-yellow: #FFDE59;
  --color-secondary-green: #3FC7BB;
  --color-secondary-gray: #B2B2B2;
  --color-secondary-white: #E8EEF1;
}


