body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root{
  --color-primary-blue: #002E52;
  --color-primary-red: #EF233C ;
  --color-secondary-orange: #ED5623;
  --color-secondary-yellow: #FFDE59;
  --color-secondary-green: #3FC7BB;
  --color-secondary-gray: #B2B2B2;
  --color-secondary-white: #E8EEF1;
}

